@media screen and (max-width: 600px) {
  header {
    margin-top: 0;
    display: flex;
    /* border: red solid; */
    flex-direction: column;
  }

  .logo img {
    width: 1.7rem;
    height: 2.1rem;
    margin-right: 0.25rem;
  }

  .logo p {
    font-size: 1.3rem;
  }

  nav {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .banner {
    object-fit: cover;
    background-size: cover;
    background-position: center;
  }

  .banner h3 {
    margin-top: 2rem;
  }

  .banner .selectors input,
  #month,
  #transport,
  button {
    width: 20rem;
  }

  .banner .selectors {
    display: flex;
    flex-direction: column;
  }

  .popular-tour {
    flex-direction: column;
  }

  .popular-tour .popular-tour-text {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .popular-tour img {
    width: 100%;
  }
}
