/* ----------------------------------universal---------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  max-width: 1440px;
}

.nav-title-color {
  color: #424247;
}

.primary-color {
  color: #ff5400;
}

.primary-background-button {
  background: #ff5400;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.header-color {
  color: #131318;
}

.paragraph-color1 {
  color: rgba(19, 19, 24, 0.7);
}

.paragraph-color2 {
  color: #5a5a5d;
}

/* ----------------------------------header---------------------------------- */

header {
  margin: 0 auto;
  width: 81.25%;
  margin-top: 3rem;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  width: 50%;
}

.logo img {
  width: 3rem;
  height: 3.5rem;
  margin-right: 1rem;
}

.logo p {
  font-size: 2.25rem;
  font-weight: 800;
}

nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 400;
  cursor: pointer;
}

/* ----------------------------------main---------------------------------- */

/* ----------------------------------banner---------------------------------- */

.banner {
  margin: 0 auto;
  max-width: 81.25%;
  margin-top: 3rem;
  margin-bottom: 6.25rem;
  min-height: 31.25rem;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../images/banner.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h3 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  text-align: center;
}
.banner p {
  color: #fff;
  text-align: center;
  max-width: 42.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 162.5%;
  margin-bottom: 1.5rem;
}
.banner .selectors {
  display: inline-flex;
  padding: 1rem;
  gap: 1.5rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  max-width: 48rem;
  margin: 1rem;
}

.banner .selectors input,
#month,
#transport,
button {
  width: 10.875rem;
  height: 3.25rem;
  border-radius: 0.5rem;
  background: #fff;
  border: none;
}

.banner .selectors input,
#month,
#transport {
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

/* ----------------------------------popular tour---------------------------------- */

.popular-tour {
  /* border: red 1px solid; */
  margin: 0 auto;
  max-width: 81.25%;
  margin-top: 3rem;
  min-height: 34.375rem;
  display: flex;
  justify-content: space-between;
}

.popular-tour .popular-tour-text {
  width: 48%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}
.popular-tour .popular-tour-text h3 {
  font-size: 2.5rem;
  font-weight: 800;
}

.popular-tour .popular-tour-text .popular-tour-intro {
  margin-top: 1.5rem;
}

.popular-tour .popular-tour-text .popular-tour-list {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
.popular-tour .popular-tour-text p {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.popular-tour img {
  width: 48%;
  border-radius: 16px;
}

/* ----------------------------------destination---------------------------------- */

.destination {
  margin: 0 auto;
  max-width: 81.25%;
  margin-top: 3rem;
}

.destination h3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}

.destination p {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 1.5rem;
}

.destination .destination-images {
  margin-top: 3rem;
}

.destination .destination-images .container1 {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.destination .destination-images .container1 img {
  width: 48%;
  object-fit: cover;
  border-radius: 16px;
}

.destination .destination-images .container1 .center-text1 {
  position: absolute;
  top: 30%;
  left: 19%;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

.destination .destination-images .container1 .center-text2 {
  position: absolute;
  top: 30%;
  right: 18%;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

.destination .destination-images .container2 {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.destination .destination-images .container2 .img3 {
  width: 23%;
  object-fit: cover;
  border-radius: 16px;
}

.destination .destination-images .container2 .img4 {
  width: 48%;
  object-fit: cover;
  border-radius: 16px;
}

.destination .destination-images .container2 .img5 {
  width: 23%;
  object-fit: cover;
  border-radius: 16px;
}

.destination .destination-images .container2 .center-text3 {
  position: absolute;
  top: 35%;
  left: 5%;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

.destination .destination-images .container2 .center-text4 {
  position: absolute;
  top: 35%;
  left: 37%;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

.destination .destination-images .container2 .center-text5 {
  position: absolute;
  top: 40%;
  right: 6%;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

.destination .destination-images .container3 {
  display: flex;
  justify-content: space-around;
  object-fit: cover;
  position: relative;
}

.destination .destination-images .container3 .img6 {
  width: 28%;
  object-fit: cover;
  border-radius: 16px;
}

.destination .destination-images .container3 .img7 {
  width: 68%;
  object-fit: cover;
  border-radius: 16px;
}

.destination .destination-images .container3 .center-text6 {
  position: absolute;
  top: 35%;
  left: 5%;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

.destination .destination-images .container3 .center-text7 {
  position: absolute;
  top: 40%;
  right: 28%;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

/* ----------------------------------extra discount save money---------------------------------- */

.savemoney {
  margin: 0 auto;
  max-width: 81.25%;
  margin-top: 3rem;
  /* display: flex; */
  margin-top: 6.25rem;
}

.savemoney .savemoney-text > h3 {
  text-align: center;
  font-size: 2.5rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.savemoney .savemoney-text > p {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 1.5rem;
}

.savemoney .savemoney-form {
  display: flex;
  margin-bottom: 5rem;
}
.savemoney .text-container {
  width: 40%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid #ff5400;
  margin-right: 1rem;
}

.savemoney .text-container h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.savemoney .text-container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.savemoney .text-container .line {
  width: 100%;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
  margin: 1.5rem 0;
}
.savemoney .text-container input {
  width: 100%;
  border-radius: 8px;
  height: 3.25rem;
  margin-bottom: 1rem;
  border: none;
  padding: 0.5rem;
}

.savemoney .text-container button {
  width: 100%;
  border-radius: 8px;
  margin-top: 0.5rem;
}

.savemoney .image-container {
  width: 55%;
}

.savemoney .image-container img {
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* ----------------------------------Why us---------------------------------- */

.why-us {
  margin: 0 auto;
  max-width: 81.25%;
  margin-top: 3rem;
}

.why-us > h3 {
  text-align: center !important;
  font-size: 2.5rem !important;
}

.why-us > p {
  text-align: center;
  margin-bottom: 2.5rem;
}
.why-us p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 1.5rem;
}

.why-us h3 {
  font-size: 1.5rem;
  font-weight: 800;
}

.why-us .why-us-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.why-us .why-us-container .reason1 {
  width: 48%;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 2rem;
}

.why-us .why-us-container .reason2 {
  width: 48%;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 2rem;
}

.why-us .why-us-container .reason3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-us .why-us-container .reason3 div {
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding: 2rem;
}

/* ----------------------------------perfect place---------------------------------- */

.perfect-place {
  margin: 0 auto;
  max-width: 81.25%;
  margin-top: 3rem;
  display: flex;
  margin-top: 6.25rem;
  gap: 2rem;
}

.perfect-place .perfect-place-container {
  width: 48%;
}

.perfect-place .perfect-place-container .text-container {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 3.75rem; /* 150% */
}

.perfect-place .perfect-place-container .text-container p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem; /* 162.5% */
}

.perfect-place .perfect-place-container .list-container {
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.perfect-place .image-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ----------------------------------News letter---------------------------------- */

.newsletter {
  margin: 0 auto;
  max-width: 81.25%;
  margin-top: 3rem;
  display: flex;
  margin-top: 6.25rem;
}

.newsletter .text-container {
  width: 40%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid #ff5400;
  margin-right: 1rem;
}

.newsletter .text-container h3 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.newsletter .text-container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}

.newsletter .text-container .line {
  width: 100%;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
  margin: 1.5rem 0;
}
.newsletter .text-container input {
  width: 100%;
  border-radius: 8px;
  height: 3.25rem;
  margin-bottom: 1rem;
  border: none;
  padding: 0.5rem;
}

.newsletter .text-container button {
  width: 100%;
  border-radius: 8px;
  margin-top: 0.5rem;
}

.newsletter .image-container {
  width: 55%;
  position: relative;
}

.newsletter .image-container img {
  border-radius: 16px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.newsletter .image-container .sticker {
  border-radius: 16px;
  position: absolute;
  width: 20.25rem;
  height: 7.5rem;
  transform: rotate(-19.628deg);
  bottom: 11%;
  right: 1%;
}

.newsletter .image-container .sticker .sticker-text1 {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1.5rem;
}

.newsletter .image-container .sticker .sticker-text2 {
  color: #fff;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

/* ----------------------------------Footer---------------------------------- */

footer {
  padding-top: 6.875rem;
  min-height: 600px;
  max-width: 100%;
  background: rgba(19, 19, 24, 0.05);
}

footer .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6.875rem;
}

footer .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 50%;
  margin-bottom: 1rem;
}

footer .footer-logo img {
  width: 2.5rem;
  height: 2.875rem;
}

footer .footer-logo .footer-text {
  height: 100%;
  font-size: 32px;
  font-weight: 800;
  display: flex;
  align-items: center;
}

footer .text-container p {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

footer .line {
  width: 82%;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
  margin-top: 3.125rem;
}

footer .social-media {
  margin-top: 1.7rem;
  width: 15%;
  display: flex;
  justify-content: space-around;
}

footer .social-media .fa-brands {
  font-size: 1.5rem;
}

footer .copyright {
  margin-top: 6.25rem;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
