/* ----------------------------------universal---------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  max-width: 1440px;
}

.nav-title-color {
  color: #424247;
}

.primary-color {
  color: #ff5400;
}

.primary-background-button {
  background: #ff5400;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.header-color {
  color: #131318;
}

.paragraph-color1 {
  color: rgba(19, 19, 24, 0.7);
}

.paragraph-color2 {
  color: #5a5a5d;
}

/* ----------------------------------header---------------------------------- */

header {
  margin: 0 auto;
  width: 81.25%;
  margin-top: 3rem;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  width: 50%;
}

.logo img {
  width: 3rem;
  height: 3.5rem;
  margin-right: 1rem;
}

.logo p {
  font-size: 2.25rem;
  font-weight: 800;
}

nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 400;
  cursor: pointer;
}

/* ----------------------------------main---------------------------------- */

/* ----------------------------------banner---------------------------------- */

.banner {
  margin: 0 auto;
  max-width: 81.25%;
  margin-top: 3rem;
  margin-bottom: 6.25rem;
  min-height: 31.25rem;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../images/banner.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h3 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  text-align: center;
}
.banner p {
  color: #fff;
  text-align: center;
  max-width: 42.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 162.5%;
  margin-bottom: 1.5rem;
}
.banner .selectors {
  display: inline-flex;
  padding: 1rem;
  gap: 1.5rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  max-width: 48rem;
  margin: 1rem;
}

.banner .selectors input,
#month,
#transport,
button {
  width: 10.875rem;
  height: 3.25rem;
  border-radius: 0.5rem;
  background: #fff;
  border: none;
}

.banner .selectors input,
#month,
#transport {
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

/* ----------------------------------popular tour---------------------------------- */

.popular-tour {
  /* border: red 1px solid; */
  margin: 0 auto;
  max-width: 81.25%;
  margin-top: 3rem;
  min-height: 34.375rem;
  display: flex;
  justify-content: space-between;
}

.popular-tour .popular-tour-text {
  width: 48%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}
.popular-tour .popular-tour-text h3 {
  font-size: 2.5rem;
  font-weight: 800;
}

.popular-tour .popular-tour-text .popular-tour-intro {
  margin-top: 1.5rem;
}

.popular-tour .popular-tour-text .popular-tour-list {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
.popular-tour .popular-tour-text p {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.popular-tour img {
  width: 48%;
  border-radius: 16px;
}

/* ----------------------------------destination---------------------------------- */

.destination {
  /* border: red 1px solid; */
  margin: 0 auto;
  max-width: 81.25%;
  margin-top: 3rem;
  /* min-height: 34.375rem; */
  /* display: flex;
  flex-direction: column; */
}

.destination h3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
}

.destination p {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 1.5rem;
}

/* .img1 {
  width: 35.8125rem;
  height: 18.75rem;
  grid-area: img1;
}
.img2 {
  width: 35.8125rem;
  height: 18.75rem;
  grid-area: img2;
}
.img3 {
  width: 23.375rem;
  height: 17.875rem;
  grid-area: img3;
}
.img4 {
  width: 29.625rem;
  height: 17.875rem;
  grid-area: img4;
}
.img5 {
  width: 17.125rem;
  height: 17.875rem;
  grid-area: img5;
}
.img6 {
  width: 29.5625;
  height: 18.75rem;
  grid-area: img6;
}
.img7 {
  width: 42.0625rem;
  height: 18.75rem;
  grid-area: img7;
} */

.destination .destination-images {
  /* border: red 1px solid; */
  margin-top: 3rem;
  /* display: grid;
  grid-template-areas:
    "img1 img2"
    "img3 img4 img5"
    "img6 img7"; 
    gap: 1.2rem;*/
  /* grid-template-rows: auto; */
  /* grid-template-columns: repeat(4, 1fr); */
}

.destination .destination-images .container1 {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-around;
  position: relative;
  /* gap: 1.5rem; */
}

.destination .destination-images .container1 img {
  width: 48%;
  object-fit: cover;
  border-radius: 16px;
}

.destination .destination-images .container1 .center-text1 {
  position: absolute;
  top: 30%;
  left: 19%;
  /* transform: translate(-50%, -50%); */
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

.destination .destination-images .container1 .center-text2 {
  position: absolute;
  top: 30%;
  right: 18%;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

.destination .destination-images .container2 {
  /* display: grid;
  grid-template-columns: 1fr 2fr 1fr; */
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-around;
  position: relative;
  /* gap: 1.5rem; */
}

.destination .destination-images .container2 .img3 {
  width: 23%;
  object-fit: cover;
  border-radius: 16px;
}

.destination .destination-images .container2 .img4 {
  width: 48%;
  object-fit: cover;
  border-radius: 16px;
}

.destination .destination-images .container2 .img5 {
  width: 23%;
  object-fit: cover;
  border-radius: 16px;
}

.destination .destination-images .container2 .center-text3 {
  position: absolute;
  top: 35%;
  left: 5%;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

.destination .destination-images .container2 .center-text4 {
  position: absolute;
  top: 35%;
  left: 37%;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

.destination .destination-images .container2 .center-text5 {
  position: absolute;
  top: 40%;
  right: 6%;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

.destination .destination-images .container3 {
  /* display: grid;
    grid-template-columns: 1fr 2fr 1fr; */
  /* margin-bottom: 1.5rem; */
  display: flex;
  justify-content: space-around;
  object-fit: cover;
  position: relative;
  /* gap: 1.5rem; */
}

.destination .destination-images .container3 .img6 {
  width: 28%;
  object-fit: cover;
  border-radius: 16px;
}

.destination .destination-images .container3 .img7 {
  width: 68%;
  object-fit: cover;
  border-radius: 16px;
}

.destination .destination-images .container3 .center-text6 {
  position: absolute;
  top: 35%;
  left: 5%;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}

.destination .destination-images .container3 .center-text7 {
  position: absolute;
  top: 40%;
  right: 28%;
  color: #fff;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 800;
}
