/* ----------------------------------universal---------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  max-width: 1440px;
}

.nav-title-color {
  color: #424247;
}

.primary-color {
  color: #ff5400;
}

.primary-background {
  background: #ff5400;
}

.header-color {
  color: #131318;
}

.paragraph-color1 {
  color: rgba(19, 19, 24, 0.7);
}

.paragraph-color2 {
  color: #5a5a5d;
}

/* ----------------------------------header---------------------------------- */

header {
  margin: 0 auto;
  width: 81.25%;
  margin-top: 3rem;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  width: 50%;
}

.logo img {
  width: 3rem;
  height: 3.5rem;
  margin-right: 1rem;
}

.logo p {
  font-size: 2.25rem;
  font-weight: 800;
}

nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 400;
  cursor: pointer;
}

/* ----------------------------------main---------------------------------- */

/* ----------------------------------banner---------------------------------- */

.banner {
  margin: 0 auto;
  max-width: 81.25%;
  margin-top: 3rem;
  margin-bottom: 6.25rem;
  min-height: 31.25rem;
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(../images/banner.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h3 {
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
  text-align: center;
}
.banner p {
  color: #fff;
  text-align: center;
  max-width: 42.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 162.5%;
  margin-bottom: 1.5rem;
}
.banner .selectors {
  display: inline-flex;
  padding: 1rem;
  gap: 1.5rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  max-width: 48rem;
  margin: 1rem;
}

.banner .selectors input,
#month,
#transport,
button {
  width: 10.875rem;
  height:3.25rem;
  border-radius: .5rem;
  background: #fff;
  border: none;
}

.banner .selectors input,
#month,
#transport {
  color: rgba(19, 19, 24, 0.5);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.banner button {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
